In [1]:
# Dependencies
import pandas as pd
import os

# Files to load data
student_file_to_load = 'Resources/students_complete.csv'
schools_file_to_load = os.path.join("Resources", "schools_complete.csv")

# Can add 'encoding="ISO-8859-1"' for pandas
student_df = pd.read_csv(student_file_to_load, encoding="ISO-8859-1")
schools_df = pd.read_csv(schools_file_to_load, encoding="ISO-8859-1")

In [2]:
#checking schools data
schools_df.head()

#check file types and non nulls
#schools_df.info()

#see if there are any missing values
schools_df.count()

#see if there are any null values
schools_df.isnull()
#sum of any null values - chaining method
schools_df.isnull().sum()

#not null - opposite of isnull *boolean: TRUE*
schools_df.notnull()
schools_df.notnull().sum()

#get data types
schools_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [3]:
#checking Student Data for NULL values
student_df.head()

#see file types and non null counts
#student_df.info()

#see if there are any missing values
student_df.count()

#see if there are any null values #*boolean: FALSE*
student_df.isnull()
#sum of any null values - chaining method
student_df.isnull().sum()

#see if there are not any null values #opposite of isnull *boolean: TRUE*
student_df.notnull()
student_df.notnull().sum()

#get data types
student_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [4]:
#add prefix and suffix to remove to a list
prefixes_suffixes = ["Dr. ", "Mr. ", "Ms. ", "Mrs. ","Miss "," MD", " DDS", " DVM", " PhD"]

#loop through "prefixes_suffixes" list and replace with empty space in the student's name.
for word in prefixes_suffixes:
    student_df["student_name"] = student_df["student_name"].str.replace(word,"")

student_df.head()

C:\Users\jerry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84