In [1]:
# Dependencies
import pandas as pd
import os

# Files to load data
student_file_to_load = 'Resources/students_complete.csv'
schools_file_to_load = os.path.join("Resources", "schools_complete.csv")

# Can add 'encoding="ISO-8859-1"' for pandas
student_df = pd.read_csv(student_file_to_load, encoding="ISO-8859-1")
schools_df = pd.read_csv(schools_file_to_load, encoding="ISO-8859-1")

In [2]:
#checking schools data
schools_df.head()

#check file types and non nulls
#schools_df.info()

#see if there are any missing values
schools_df.count()

#see if there are any null values
schools_df.isnull()
#sum of any null values - chaining method
schools_df.isnull().sum()

#not null - opposite of isnull *boolean: TRUE*
schools_df.notnull()
schools_df.notnull().sum()

#get data types
schools_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object

In [3]:
#checking Student Data for NULL values
student_df.head()

#see file types and non null counts
#student_df.info()

#see if there are any missing values
student_df.count()

#see if there are any null values #*boolean: FALSE*
student_df.isnull()
#sum of any null values - chaining method
student_df.isnull().sum()

#see if there are not any null values #opposite of isnull *boolean: TRUE*
student_df.notnull()
student_df.notnull().sum()

#get data types
student_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [4]:
#add prefix and suffix to remove to a list
prefixes_suffixes = ["Dr. ", "Mr. ", "Ms. ", "Mrs. ","Miss "," MD", " DDS", " DVM", " PhD"]

#loop through "prefixes_suffixes" list and replace with empty space in the student's name.
for word in prefixes_suffixes:
    student_df["student_name"] = student_df["student_name"].str.replace(word,"")

student_df.head()

C:\Users\jerry\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
#combine the data into a single dataset with merge
school_data_complete_df = pd.merge(student_df, schools_df, on=["school_name", "school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
#get total number of students
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [7]:
#get the total number of schools
school_count = schools_df["school_name"].count()
school_count

15

In [8]:
#get the total number of schools #2
school_count_2 = len(school_data_complete_df["school_name"].unique())
school_count_2

15

In [9]:
#get sum of the budget column
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [10]:
#average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()
average_reading_score

81.87784018381414

In [11]:
#average math score
average_math_score = school_data_complete_df["math_score"].mean()
average_math_score

78.98537145774827

In [12]:
#get all students who are passing math in a new data frame
passing_math_df = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635

In [13]:
#get all students who are passing math in a new data frame
passing_reading_df = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]
passing_reading_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635

In [14]:
#get number of students who passed math
passing_math_count = passing_math_df["student_name"].count()
passing_math_count

29370

In [15]:
#get number of students who passed reading
passing_reading_count = passing_reading_df["student_name"].count()
passing_reading_count

33610

In [16]:
#calculate percent passing math
passing_math_percentage = passing_math_count / float(student_count) * 100

#calculate percent passing reading
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [17]:
#calculate students who passed both math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

passing_math_reading.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [18]:
#total number of students passing both math and reading
#two ways
print(passing_math_reading.student_name.count())
print(passing_math_reading["student_name"].count())

#calculate no of students who passed both math and reading
overall_passing_math_reading_count = passing_math_reading["student_name"].count()
overall_passing_math_reading_count

25528
25528

25528

In [19]:
#calculate the overall passing percentage
overall_passing_percentage = overall_passing_math_reading_count / student_count * 100
overall_passing_percentage

65.17232575950983

In [20]:
#adding a list of values with keys to create a new DataFrame
district_summary_df = pd.DataFrame(
                    [{"Total Schools": school_count,
                     "Total Students": student_count,
                     "Total Budget": total_budget,
                     "Average Math Score": average_math_score,
                     "Average Reading Score": average_reading_score,
                     "% Passing Math": passing_math_percentage,
                     "% Passing Reading": passing_reading_percentage,
                     "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [21]:
#format the Total Students to have comma for a thousand separator.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [22]:
#format Total Budget to have the comma for a thousand separator, decimal point and a $
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [23]:
#format columns
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

In [24]:
#display the dataframe
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [ ]:
#reorder columns if you want to change them
# new_column_order = "col2", "col5", "col3"

#assign a new or the same DataFrame to the new column order
#df = df[new_column_order]